<!-- HTML for static distribution bundle build -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Swagger UI</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.20.1/swagger-ui.css" integrity="sha256-RrzbZ+HHP5vh/Uz1gmOmgorJepCmhlRFPb3+/KgDLcM=" crossorigin="anonymous" />
    <style>
      html
      {
        box-sizing: border-box;
        overflow: -moz-scrollbars-vertical;
        overflow-y: scroll;
      }

      *,
      *:before,
      *:after
      {
        box-sizing: inherit;
      }

      body
      {
        margin:0;
        background: #fafafa;
      }
    </style>
  </head>

  <body>
    <div id="swagger-ui"></div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.20.1/swagger-ui-bundle.js" integrity="sha256-seT40xcKcuBHwAQYC2HXwFDvpNN9eKzhgOWtJ5djh2c=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.20.1/swagger-ui-standalone-preset.js" integrity="sha256-RpyprgTNDD4bnScgxNeBaiBSGCnw78G9M/ltXQ2Rhzo=" crossorigin="anonymous"></script>
    <script>
    window.onload = function() {

      // Build a system
      const ui = SwaggerUIBundle({
				spec: {{ document }},
        dom_id: '#swagger-ui',
        deepLinking: true,
        presets: [
          SwaggerUIBundle.presets.apis,
          SwaggerUIStandalonePreset
        ],
        plugins: [
          SwaggerUIBundle.plugins.DownloadUrl
        ],
        layout: "StandaloneLayout"
      })

      window.ui = ui
    }
  </script>
  </body>
</html>
